/**{outline: 1px rgba(255,0,0,0.4) solid;}*/


.sombra{
    height: 539px;
    color: #fff;
    background: rgba(65,72,80,0.6);
}

.icon-container{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    font-size: 60px;
    text-align: center;
    box-shadow: -2px 2px 10px rgba(0,0,0,0.4);
    border-radius: 100%;
    color:skyblue;
}
.size-logo{
    width: 200px;
    height: auto;
}

.img-fondo{
    background-image:url(../image/large.jpg);
    background-size: cover;
    height: 600px;
}
.frase{
    text-align: center;
    margin-top: 200px;
    color: #fff;
}
.header-banner{
    margin-top: 115px;
    color: #fff;
    height: 139px;
    background: rgba(78,126,176,0.9);
}
.header-banner p{
 margin-left: 130px;   
}
.header-banner button {
    background-color: transparent;
    border-color: 2spx solid #fff;
    text-align: center;
    margin-top: 50px;
    height: 35px;
    width: 130px;
    font-size: 16px;
    margin-left: 10px;
}
.list-inline li a{
    color: #fff;
}
.services{
    margin-top: 60px;
}
.circulares{
    margin-top: 50px;
}

.text-skyblue{
    color:skyblue;
}
.text-blue{
    color:blue;
}
.text-blakblue{
    color:midnightblue;
    text-align: center
}
.text-darkblue{
    color:darkblue
}
.alineado-text{
    text-align: center;    
}
h6,p{
    text-align: center;
}
.separador{
  margin-top: 70px;        
  text-align: center;
    
}
hr{
    border-color: 2px solid darkgray;
    margin-top: -47px;
    margin-bottom: 83px;
}
h3 img{
    width: 200px;
    height: 30px;
    text-align: center;
}

.ejemplo h3{
    text-align: center;
}
.ejemplo p{
    text-align:left;
}

.margen div{
    padding-left: 20px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding-bottom: 450px;
}
.flecha {
    margin-top: 30px;
    margin-bottom: 30px;
}
.ofert img{
    width: 570px;
    height: 450px;
}
.ofert p,ul li{
    text-align:left;   
}
.ofert ul {
   padding: 15px;    
}

.banner-imagen{
    background-image: url(../image/sec-2.jpg);
    background-size: cover;
    width: 570px;
    height: 450px;
    
}
.navbar button span{
    background-color: white;
}
.navbar button{
    background-color: skyblue;
}
.nav li a{
    color: #fff;
    font-size: 14px;
}

.element-style li {
    text-align: right;
    list-style: none;
}
.element-style li i {
   margin-right: -40px;
   margin-top: 60px;
   display: inline-block;
   background-color: skyblue;
   color: white;
   border-radius: 200px;
   font-size: 25px;
   padding: 10px;
}

.hexagono {
    background-image: url(../image/separador.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-left: 540px;
    margin-bottom: 80px;
}
.separador2{
   margin-top: -41px;        
   text-align: center;
    
}
.banner-imagen2{
background-image: url(../image/banner.jpg);
    background-size: cover;
    width: 450px;
    height: 300px;
}
.argumento h3 {
    margin-top: 2px;
    margin-bottom: 20px;
}
.argumento p{
    text-align: left;
    
}
.argumento ul {
    padding: 14px;
}
.margen2{
    padding-left: 100px;
}
.footer{
    background-color: #2a3541;
    color: #fff;
}

.element-footer{
    color: skyblue;
    font-size: 25px;
    text-align: right;
    margin-right: 0px;
    list-style: none;
}
.footer span {
   
    font-size: 10px;
    margin-left: 390px;
    margin-bottom: 0;
    padding-bottom: 0;
  
}
footer p,a{
    text-align: left;
    font-size: 12px;
}




   
    
